@charset "UTF-8";
/*
 * Główny plik dla stylów.
 * Wszystkie partials podłączamy tutaj.
 */
* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

.title, .about__title-sizing {
  font-family: "Titan One", cursive;
  font-size: 2.12rem;
  line-height: 2.4rem;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #d41443;
}

.subtitle, .about__subtitle-sizing {
  font-family: "Titan One", cursive;
  font-weight: 400;
  font-size: 1.25rem;
  line-height: 1.15rem;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #ffa5ba;
}

.products {
  display: flex;
  justify-content: center;
}
.products__page-wrapper {
  margin: 0 auto;
}
.products__title {
  margin-bottom: 144px;
  margin-top: 0;
  color: #d41443;
  font-family: "Titan One", cursive;
  font-size: 2.12rem;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
}
.products__pre-title {
  font-family: "Titan One", cursive;
  font-size: 1.12rem;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #ffa5ba;
  display: flex;
  justify-content: center;
  margin-bottom: 15px;
}
.products__list {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-left: 0;
  position: relative;
  margin: 0 auto;
}
.products__item {
  color: #fff;
  width: 280px;
  height: 485px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 24px;
  background-color: #ffb8ca;
  margin-bottom: 130px;
  position: relative;
}
.products__item ::before {
  content: "";
  width: 249px;
  height: 252px;
  background-image: url("../assets/images/images/mobile/icecream-product-mb.png");
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  top: -115px;
  left: 15px;
}
.products__item--second {
  background-color: #f0d1a5;
  position: relative;
}
.products__item--second ::before {
  content: "";
  width: 249px;
  height: 252px;
  background-image: url("../assets/images/images/mobile/coffee-product-mb.png");
  position: absolute;
  top: -115px;
  left: 15px;
}
.products__item--third {
  background-color: #c2e297;
  position: relative;
  margin-bottom: 98px;
}
.products__item--third ::before {
  content: "";
  width: 249px;
  height: 252px;
  background-image: url("../assets/images/images/mobile/milkshake-product-mb.png");
  position: absolute;
  top: -115px;
  left: 15px;
}
.products__subtitle {
  font-family: "Titan One", cursive;
  font-size: 1.25rem;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  margin-top: 161px;
  margin-bottom: 66px;
}
.products__description {
  padding-left: 41px;
  padding-right: 39px;
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
  font-size: 0.87rem;
  line-height: 1.52;
  text-align: center;
  letter-spacing: 0.04em;
  margin: 0 auto 30px;
}
.products__description::after {
  content: "...";
  position: absolute;
  top: 39%;
  left: 45%;
  font-size: 1.88rem;
}
.products__btn {
  cursor: pointer;
  width: 40px;
  height: 40px;
  font-weight: 400;
  border-radius: 50%;
  background-color: #fff;
  border: 0;
  color: #d41443;
  font-size: 8px;
  line-height: 1.3em;
}
.products__icon {
  fill: #d41443;
  display: flex;
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  .products__title {
    margin-bottom: 150px;
  }
  .products__list {
    flex-direction: row;
    align-items: flex-start;
    gap: 20px;
    margin-bottom: 112px;
  }
  .products__item {
    width: 220px;
    margin-bottom: 0px;
  }
  .products__item ::before {
    width: 220px;
    height: 224px;
    background-image: url("../assets/images/images/tablet/icecrem-product-tb.png");
    top: -100px;
    left: 3px;
  }
  .products__item--second ::before {
    width: 220px;
    height: 224px;
    background-image: url("../assets/images/images/tablet/coffee-product-tb.png");
    top: -100px;
    left: 3px;
  }
  .products__item--third ::before {
    width: 220px;
    height: 224px;
    background-image: url("../assets/images/images/tablet/milkshake-product-tb.png");
    top: -100px;
    left: 3px;
  }
  .products__subtitle {
    margin-top: 152px;
  }
  .products__description {
    padding-left: 11px;
    padding-right: 11px;
  }
  .products__description::after {
    top: 37%;
  }
}
@media screen and (min-width: 1280px) {
  .products__pre-title {
    font-size: 1.88rem;
    line-height: 1.13;
  }
  .products__title {
    font-size: 3.63rem;
    line-height: 1.14;
    letter-spacing: 0.06em;
    margin-bottom: 259px;
  }
  .products__list {
    gap: 27px;
    margin-bottom: 119px;
  }
  .products__item {
    width: 330px;
    height: 525px;
  }
  .products__item ::before {
    width: 335px;
    height: 335px;
    background-image: url("../assets/images/images/desktop/icecrem-product-dst.png");
    top: -210px;
    left: -2px;
  }
  .products__item--second ::before {
    width: 337px;
    height: 335px;
    background-image: url("../assets/images/images/desktop/coffee-product-dst.png");
    top: -210px;
    left: -2px;
  }
  .products__item--third ::before {
    width: 335px;
    height: 335px;
    background-image: url("../assets/images/images/desktop/milkshake-product-dst.png");
    top: -210px;
    left: -2px;
  }
  .products__subtitle {
    font-family: "Titan One", cursive;
    font-size: 1.25rem;
    line-height: 1.15;
    text-align: center;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    font-size: 1.88rem;
    line-height: 1.13;
    margin-top: 153px;
    margin-bottom: 66px;
  }
  .products__description {
    font-size: 1rem;
    padding-left: 44px;
    padding-right: 45px;
  }
  .products__description::after {
    top: 36%;
  }
}
.about {
  background-color: #fff5f6;
}
.about__page-wrapper {
  padding: 125px 0 20px 0;
}
.about__subtitle-sizing {
  margin-bottom: 15px;
}
.about__title-sizing {
  margin: auto;
  margin-bottom: 26px;
  width: 200px;
}
.about__background {
  background-image: url("../assets/images/images/mobile/spilled-milk-about-mb.png");
  background-repeat: no-repeat;
  background-position: bottom 72px right;
  background-size: contain;
}
.about__image {
  margin: 0 20px 46px 20px;
}
.about__article {
  margin: 0 50px 0 50px;
}
.about__text-main {
  font-family: "DM Sans", sans-serif;
  font-weight: 500;
  font-size: 0.75rem;
  line-height: 1.215rem;
  color: #000;
  margin-bottom: 47px;
}
.about__text {
  font-family: "DM Sans", sans-serif;
  font-weight: 500;
  font-size: 0.75rem;
  line-height: 1.215rem;
  color: #907e82;
}
.about__button {
  margin-top: 28px;
}

@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .about__background {
    background-image: url("../assets/images/images/mobile/spilled-milk-about-mb@2x.png");
  }
}
@media (min-width: 768px) {
  .about__background {
    background-image: none;
  }
}
@media (min-width: 1280px) {
  .about__background {
    background-image: url("../assets/images/images/desktop/spilled-milk-about-dst.png");
  }
}
@media (min-width: 1280px) and (min-device-pixel-ratio: 2), (min-width: 1280px) and (-webkit-min-device-pixel-ratio: 2), (min-width: 1280px) and (min-resolution: 192dpi), (min-width: 1280px) and (min-resolution: 2dppx) {
  .about__background {
    background-image: url("../assets/images/images/desktop/spilled-milk-about-dst@2x.png");
  }
}
@media (min-width: 768px) {
  .about__page-wrapper {
    padding: 130px 36px 66px 39px;
  }
}
.modal__button {
  display: flex;
  cursor: pointer;
  width: 209px;
  height: 44px;
  border-radius: 22px;
  background-color: #fff;
  border: 0;
  font-weight: 700;
  color: #d41443;
  size: 16px;
  line-height: 1.3em;
  gap: 15.77px;
  align-items: center;
  justify-content: center;
}
.modal__button__button--vector {
  stroke: 2px;
}
.modal__button__button--text {
  display: block;
  width: 90.7px;
}

.modal__button--vector:hover,
.modal__button--vector:focus {
  stroke: white;
}

.modal__button:hover,
.modal__button:focus {
  color: #fff;
  background-color: #c7133e;
}

.heroheader__button--products {
  cursor: pointer;
  width: 62, 4px;
  height: 24px;
  border-radius: 20px;
  background-color: #fff;
  border: 0;
  color: #d41443;
  font-size: 8px;
  line-height: 1.3em;
  font-weight: 400;
}

.heroheader__button--products:hover,
.heroheader__button--products:focus {
  color: #fff;
  background-color: #c7133e;
}

.heroheader__button--how {
  cursor: pointer;
  width: 82, 8px;
  height: 24px;
  font-weight: 400;
  border-radius: 20px;
  background-color: #fff;
  border: 0;
  color: #d41443;
  font-size: 8px;
  line-height: 1.3em;
}

.heroheader__button--how:hover,
.heroheader__button--how:focus {
  color: #fff;
  background-color: #c7133e;
}

.products__button {
  cursor: pointer;
  width: 40px;
  height: 40px;
  font-weight: 400;
  border-radius: 50%;
  background-color: #fff;
  border: 0;
  color: #d41443;
  font-size: 8px;
  line-height: 1.3em;
}

.about__button {
  display: flex;
  cursor: pointer;
  width: 176px;
  height: 44px;
  border-radius: 22px;
  background-color: #fff;
  border: 0;
  font-weight: 700;
  color: #d41443;
  font-size: 14px;
  line-height: 1.3em;
  align-items: center;
  justify-content: center;
}

.about__button--vector {
  margin-left: 13.62px;
  stroke-width: 2px;
}

.about__button:hover,
.about__button:focus {
  color: #fff;
  background-color: #c7133e;
}

.contacts__button--locations {
  display: flex;
  cursor: pointer;
  width: 161.45px;
  height: 44px;
  border-radius: 22px;
  background-color: #fff;
  border: 0;
  font-weight: 700;
  color: #d41443;
  font-size: 16px;
  line-height: 1.3em;
  align-items: center;
  justify-content: center;
}

.contacts__button--vector1 {
  stroke-width: 2px;
  margin-left: 8px;
}

.contacts__button--vector2 {
  stroke-width: 2px;
  margin-left: 13px;
}

.contacts__button--franchise {
  display: flex;
  cursor: pointer;
  width: 161.45px;
  height: 44px;
  border-radius: 22px;
  background-color: #fff;
  border: 0;
  font-weight: 700;
  color: #d41443;
  font-size: 16px;
  line-height: 1.3em;
  align-items: center;
  justify-content: center;
}

.contacts__button--franchise:hover,
.contacts__button--franchise:focus {
  color: #fff;
  background-color: #c7133e;
}

.contacts__button--locations:hover,
.contacts__button--locations:focus {
  color: #fff;
  background-color: #c7133e;
}

.products__button {
  border-radius: 50%;
}

.footer {
  background-color: #fff5f6;
}
.footer__container {
  margin: 0 auto;
  padding: 0 20px;
  min-width: 320px;
  margin-bottom: 43px;
}
.footer__description {
  max-width: 232px;
  margin-bottom: 43px;
  padding-top: 113px;
  text-transform: uppercase;
}
.footer__title {
  font-family: "Titan One", cursive;
  font-size: 1.125rem;
  line-height: 1.3rem;
  color: #ffa5ba;
  padding-bottom: 16px;
}
.footer__title--accent {
  font-size: 2.125rem;
  line-height: 2.44rem;
  color: #d41443;
  letter-spacing: 0.04em;
  max-width: 200px;
}
.footer__contact {
  display: flex;
  justify-content: flex-end;
  font-weight: 700;
  font-size: 0.75rem;
  line-height: 1.85rem;
  color: #000;
}
.footer__link {
  color: #d41443;
  margin-left: 3px;
}
.footer__copyright {
  border-top: 1px solid #e1e1e1;
  min-height: 89px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer__text {
  width: 140px;
  font-weight: 700;
  font-size: 0.875rem;
  line-height: 1.5rem;
  text-align: center;
  color: #907e82;
}
.footer .social {
  display: flex;
  justify-content: flex-end;
}
.footer .social__list {
  text-decoration: none;
  display: flex;
  justify-content: space-between;
  margin-bottom: 46px;
  width: 152px;
}
.footer .social__icon {
  fill: #fea5bb;
  width: 32px;
  height: 32px;
}
.footer .social__icon:hover, .footer .social__icon:focus {
  fill: #d41443;
  cursor: pointer;
}

@media screen and (min-width: 480px) {
  .footer__container {
    min-width: 480px;
    display: flex;
    justify-content: space-between;
    padding: 0 114px;
  }
  .footer__description {
    max-width: 474px;
    padding-top: 165px;
  }
  .footer__title {
    font-size: 1.625rem;
    line-height: 1.875rem;
    padding-bottom: 16px;
    letter-spacing: 0.04em;
    max-width: 340px;
  }
  .footer__title--accent {
    font-size: 3rem;
    line-height: 3.438rem;
    letter-spacing: 0.06em;
    max-width: 474px;
  }
  .footer__contact {
    flex-wrap: wrap;
    font-size: 0.875rem;
    line-height: 1.625rem;
    padding-top: 238px;
  }
  .footer__copyright {
    border-top: 1px solid #e1e1e1;
    min-height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .footer__text {
    width: 276px;
    line-height: 1.625rem;
    text-align: center;
  }
  .social {
    padding-top: 165px;
  }
  .social__icon {
    width: 34px;
    height: 34px;
  }
}