<section class="about about__background">
  <div class="about__wrapper page-wrapper">
    <h3 id="about" class="about__subtitle">TRADITIONAL AND LOVE</h3>
    <h2 class="about__title">HOW IT'S MADE?</h2>
    <div class="about__flex">
      <div class="about__image">
        <picture>
          <source
            media="(min-width: 1280px)"
            srcset="
              ./assets/images/images/desktop/cow-about-dst.png    1x,
              ./assets/images/images/desktop/cow-about-dst@2x.png 2x
            "
          />
          <source
            media="(min-width: 768px)"
            srcset="
              ./assets/images/images/tablet/cow-about-tb.png    1x,
              ./assets/images/images/tablet/cow-about-tb@2x.png 2x
            "
          />
          <source
            media="(min-width: 320px)"
            srcset="
              ./assets/images/images/mobile/cow-about-mb.png    1x,
              ./assets/images/images/mobile/cow-about-mb@2x.png 2x
            "
          />
          <img src="./assets/images/images/mobile/cow-about-mb.png" alt="Cow and jug of milk" />
        </picture>
      </div>
      <article class="about__article">
        <p class="about__text-main">
          Fusce ut velit laoreet, tempus arcu eu, molestie tortor. Nam vel justo cursus, faucibus
          lorem eget, egestas eros. Maecenas eleifend erat at justo fringilla.
        </p>
        <div>
          <p class="about__text">
            Curabitur lacinia enim at ex blandit, vel pellentesque odio elementum. Mauris rhoncus
            orci in imperdiet placerat. Vestibulum euismod nisl suscipit ligula volutpat, a feugiat
            urna maximus. Cras massa nibh, tincidunt.
          </p>
          <br />
          <p class="about__text">Aliquam erat volutpat. Aenean accumsan.</p>
        </div>
        <button type="button" class="about__button">
          Read more
          <svg width="6.43px" height="8px" class="about__button--vector">
            <use href="./assets/icons/icons.svg#icon-right-red"></use>
          </svg>
        </button>
      </article>
    </div>
  </div>
</section>
