<section class="about">
  <div class="about__page-wrapper">
    <h3 class="header__subtitle about__subtitle-sizing">TRADITIONAL AND LOVE</h3>
    <h2 class="header__title about__title-sizing">HOW IT'S MADE?</h2>
    <div class="about__background">
      <div class="about__image">
        <img
          src="./assets/images/images/mobile/cow-about-mb.png"
          alt="Cow and jug of milk"
          srcset="
            ./assets/images/images/mobile/cow-about-mb.png       480w,
            ./assets/images/images/mobile/cow-about-mb@2x.png    960w,
            ./assets/images/images/tablet/cow-about-tb.png       768w,
            ./assets/images/images/tablet/cow-about-tb@2x.png   1536w,
            ./assets/images/images/desktop/cow-about-dst.png    1280w,
            ./assets/images/images/desktop/cow-about-dst@2x.png 2560w
          "
          sizes="(min-width: 1280px) 516px, (min-width: 768px) 340px, 100vw "
          width="100%"
        />
      </div>
      <article class="about__article">
        <p class="about__text-main">
          Fusce ut velit laoreet, tempus arcu eu, molestie tortor. Nam vel justo cursus, faucibus
          lorem eget, egestas eros. Maecenas eleifend erat at justo fringilla.
        </p>
        <div>
          <p class="about__text">
            Curabitur lacinia enim at ex blandit, vel pellentesque odio elementum. Mauris rhoncus
            orci in imperdiet placerat. Vestibulum euismod nisl suscipit ligula volutpat, a feugiat
            urna maximus. Cras massa nibh, tincidunt.
          </p>
          <br />
          <p class="about__text">Aliquam erat volutpat. Aenean accumsan.</p>
        </div>
        <button class="about__button">Read More</button>
      </article>
    </div>
  </div>
</section>
