<section class="advantages">
    <h2 class="advantages__hidden-header">Advantages</h2>
    <ul class="advantages__list ">
        <li>
            <figure class="advantages__item">
                <img
                  class="advantages__icon"
                  src="../assets/images/icons/icon1-about-all.png"
                  alt="milk"
                  height="50"
                  width="33"
                />
                <figcaption>
                  <p class="advantages__large-text">721</p>
                  <p class="advantages__text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
                </figcaption>
        </li>
        <li>
            <figure class="advantages__item">
                <img
                  class="advantages__icon"
                  src="../assets/images/icons/icon2-abou-all.png"
                  alt="fruits"
                  height="50"
                  width="50"
                />
                <figcaption>
                  <p class="advantages__large-text">16kg</p>
                  <p class="advantages__text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
                </figcaption>
        </li>
        <li>
            <figure class="advantages__item">
                <img
                  class="advantages__icon"
                  src="../assets/images/icons/icon3-about-all.png"
                  alt="candy"
                  height="50"
                  width="44"
                />
                <figcaption>
                  <p class="advantages__large-text">84</p>
                  <p class="advantages__text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
                </figcaption>
        </li>
    </ul>
</section>