<button type="button" class="modal__button">
    <div class="modal__button--text">
    Buy now
    </div>
    <div><svg width="7.26px" height="8px" class="modal__button--vector">
    <use
    href="./assets/icons/icons.svg#icon-right-red">
    </use>
    </svg></div>
</button>



<button type="button" class="heroheader__button--products">
    Poducts  
</button>
<button type="button" class="heroheader__button--how">
    How it's made?
</button>



<button type="button" class="about__button">
    Read more 
</div>
<div><svg width="6.43px" height="8px" class="about__button--vector">
<use
href="./assets/icons/icons.svg#icon-right-red">
</use>
</svg></div>
</button>



<button type="button" class="contacts__button--locations">
    Our Locations
    <div><svg width="5.61px" height="8px" class="contacts__button--vector1">
        <use
        href="./assets/icons/icons.svg#icon-right-white">
        </use>
        </svg></div>
</button>

<button type="button" class="contacts__button--franchise">
    Franchise
    <div><svg width="6.28px" height="8px" class="contacts__button--vector2">
        <use
        href="./assets/icons/icons.svg#icon-right-red">
        </use>
        </svg></div>
</button>


<a href="#">
<svg width="40px" height="40px" class="products__button"></svg>
</a>