<section class="reviews page-wrapper">
  <div class="reviews__container">
    <div class="reviews__customer">
      <img
        class="reviews__img"
        width="84px"
        height="84px"
        src="./assets/images/images/mobile/girl-customer-mb.png"
        alt="ususer avatar"
      />
      <div class="opinion">
        <p class="opinion__text">
          Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In hendrerit
          nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.
        </p>
      </div>
      <div class="ellipse">
        <svg class="ellipse__icon">
          <use href="./assets/icons/icons.svg#icon-ellipse"></use>
        </svg>
        <svg class="ellipse__icon">
          <use href="./assets/icons/icons.svg#icon-ellipse"></use>
        </svg>
        <svg class="ellipse__icon">
          <use href="./assets/icons/icons.svg#icon-ellipse"></use>
        </svg>
      </div>
      <p class="reviews__name">Emily, Los Angeles</p>
      <div class="reviews__slide">
        <svg class="ellipse__icon--home" height="11.83px" width="12.39px" fill="#D31342">
          <use href="./assets/icons/icons.svg#icon-home"></use>
        </svg>
        <svg class="ellipse__icon--big">
          <use href="./assets/icons/icons.svg#icon-ellipse"></use>
        </svg>
        <svg class="ellipse__icon--big">
          <use href="./assets/icons/icons.svg#icon-ellipse"></use>
        </svg>
      </div>
    </div>
  </div>
</section>
