<footer class="footer">
  <div class="ftext">
    <p class="ftext__title">homemade ice cream made</p>
    <p class="ftext__slogan">with passion</p>
  </div>
  <div class="fsocials">
    <ul class="fsocials__list">
      <li class="fsocials__item">
        <a
          class="fsocials__link"
          href="https://github.com/"
          target="_blank"
          rel="noreferrer noopener"
        >
          <svg class="fsocials__icon">
            <use href="./assets/icons/icons.svg#icon-github"></use>
          </svg>
        </a>
      </li>
      <li class="fsocials__item">
        <a
          class="fsocials__link"
          href="https://telegram.org/"
          target="_blank"
          rel="noreferrer noopener"
        >
          <svg class="fsocials__icon">
            <use href="./assets/icons/icons.svg#icon-github"></use>
          </svg>
        </a>
      </li>
      <li class="fsocials__item">
        <a
          class="fsocials__link"
          href="https://facebook.pl/"
          target="_blank"
          rel="noreferrer noopener"
        >
          <svg class="fsocials__icon">
            <use href="./assets/icons/icons.svg#icon-facebook"></use>
          </svg>
        </a>
      </li>
    </ul>
  </div>
  <span class="fcontact"
    >Feel free to contact<a class="fcontact__link" href="tel:+610383766284"
      >+61 (0) 383 766 284</a
    ></span
  >
  <div class="fcopyright">
    <span class="fcopyright__text">&#xa9; 2021 - IceCream. All Rights Reserved.</span>
  </div>
</footer>
