<section class="gallery__background">
  <div class="gallery page-wrapper">
    <div class="gallery__image">
      <picture>
        <source
          srcset="./assets/images/images/desktop/gallery-dst.png"
          media="(min-width: 1280px)"
        />
        <source
          srcset="./assets/images/images/desktop/gallery-dst@2x.png 2x"
          media="(min-width: 1280px)"
        />
        <source srcset="./assets/images/images/tablet/gallery-tb.png" media="(min-width: 768px)" />
        <source
          srcset="./assets/images/images/tablet/gallery-tb@2x.png 2x"
          media="(min-width: 768px)"
        />
        <source srcset="./assets/images/images/mobile/gallery-mb.png" media="(min-width: 320px)" />
        <source
          srcset="./assets/images/images/mobile/gallery-mb@2x.png 2x"
          media="(min-width: 320px)"
        />
        <source
          srcset="./assets/images/images/mobile/gallery-mb@1.5x.png 1.5x"
          media="(min-width: 480px)"
        />
        <img src="./assets/images/images/desktop/gallery-dst.png" alt="Gallery" />
      </picture>
    </div>
  </div>
</section>
