<header>
  <div>
    <nav>
      <a href="./index.html">
        <div>
          <div>
            <svg></svg>
          </div>
          <span>ICECREAM</span>
        </div>
      </a>
      <ul>
        <li>
          <a href="./index.html">Home</a>
        </li>
        <li>
          <a href="#customer-reviews">About us</a>
        </li>
        <li>
          <a href="#about">How it's made?</a>
        </li>
        <li>
          <a href="#products">Our products</a>
        </li>
        <li>
          <a href="#contacts">Contact</a>
        </li>
      </ul>
    </nav>

    <button>
      <span>Buy now</span>
      <svg></svg>
    </button>
  </div>
</header>
<section>
  <div>
    <div>
      <div>
        <h1>ice cream made with<span>passion</span></h1>
        <ul>
          <li>
            <a href="#products">Products</a>
          </li>
          <li>
            <a href="#about">How it's made?</a>
          </li>
        </ul>
      </div>
      <div>
        <picture>
          <img />
        </picture>
        <div>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
            incididunt ut labore et
          </p>
          <a href="#about">
            <svg></svg>
          </a>
        </div>
      </div>
    </div>

    <div>
      <picture>
        <img />
      </picture>
    </div>

    <div>
      <ul>
        <li>
          <p>16</p>
          <p>cafes</p>
        </li>
        <li>
          <p>23</p>
          <p>food trucks</p>
        </li>
      </ul>
      <picture>
        <img />
      </picture>
    </div>
  </div>
</section>
