<div class="mobile menu-container js-menu-container" id="mobile-menu">
  <button class="close-toggle js-close-menu">
    <svg width="14" height="14">
      <use href="./assets/icons/icons.svg#icon-close"></use>
    </svg>
  </button>
  <button class="hero-header__button" type="button" data-modal-open>
    Buy now
    <svg class="hero-header__button-icon" width="10" height="8">
      <use href="./assets/icons/icons.svg#icon-right-red"></use>
    </svg>
  </button>
  <nav class="mobile-nav">
    <ul class="mobile-nav__list">
      <li class="mobile-nav__item">
        <a class="mobile-nav__link" href="#">Home</a>
      </li>
      <li class="mobile-nav__item">
        <a class="mobile-nav__link" href="#">About us</a>
      </li>
      <li class="mobile-nav__item">
        <a class="mobile-nav__link" href="#">How it s made?</a>
      </li>
      <li class="mobile-nav__item">
        <a class="mobile-nav__link" href="#">Our products</a>
      </li>
      <li class="mobile-nav__item">
        <a class="mobile-nav__link" href="#">Contact</a>
      </li>
    </ul>
  </nav>
</div>
<script
  defer
  src="https://cdnjs.cloudflare.com/ajax/libs/body-scroll-lock/3.1.5/bodyScrollLock.min.js"
  integrity="sha512-HowizSDbQl7UPEAsPnvJHlQsnBmU2YMrv7KkTBulTLEGz9chfBoWYyZJL+MUO6p/yBuuMO/8jI7O29YRZ2uBlA=="
  crossorigin="anonymous"
></script>
