<section class="products">
  <div class="products__page-wrapper">
    <span id="products" class="products__pre-title">100% natural</span>
    <h2 class="products__title">products</h2>
    <ul class="products__list">
      <li class="products__item">
        <h3 class="products__subtitle">ice cream</h3>
        <p class="products__description">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
          ut labore et. dolore magna aliqua facilisis.
        </p>
        <button class="products__btn"></button>
      </li>
      <li class="products__item products__item--second">
        <h3 class="products__subtitle">ice coffee</h3>
        <p class="products__description">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
          ut labore et. dolore magna aliqua facilisis.
        </p>
        <button class="products__btn"></button>
      </li>
      <li class="products__item products__item--third">
        <h3 class="products__subtitle">milkshakes</h3>
        <p class="products__description">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
          ut labore et. dolore magna aliqua facilisis.
        </p>
        <button type="button" class="products__btn"></button>
      </li>
    </ul>
  </div>
</section>
