<section class="products page-wrapper">
  <div>
    <p id="products" class="products__subtitle products__subtitle--pre-title">100% natural</p>
    <h2 class="products__title">products</h2>
    <ul class="products__list">
      <li class="products__item">
        <h3 class="products__subtitle">ice cream</h3>
        <p class="products__description">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
          ut labore et.
          <span class="products__description products__description--end"
            >dolore magna aliqua facilisis.</span
          >
        </p>
        <button type="button" class="products__btn">
          <svg class="products__icon" width="12" height="12">
            <use href="../src/assets/icons/icons.svg#icon-arrow-right"></use>
          </svg>
        </button>
      </li>
      <li class="products__item products__item--second">
        <h3 class="products__subtitle">ice coffee</h3>
        <p class="products__description">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
          ut labore et.
          <span class="products__description products__description--end"
            >dolore magna aliqua facilisis.</span
          >
        </p>
        <button type="button" class="products__btn">
          <svg class="products__icon" width="12" height="12">
            <use href="../src/assets/icons/icons.svg#icon-arrow-right"></use>
          </svg>
        </button>
      </li>
      <li class="products__item products__item--third">
        <h3 class="products__subtitle">milkshakes</h3>
        <p class="products__description">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
          ut labore et.
          <span class="products__description products__description--end"
            >dolore magna aliqua facilisis.</span
          >
        </p>
        <button type="button" class="products__btn">
          <svg class="products__icon" width="12" height="12">
            <use href="../src/assets/icons/icons.svg#icon-arrow-right"></use>
          </svg>
        </button>
      </li>
    </ul>
  </div>
</section>
