.about-modal__field {
    position: absolute;
    width: 90%;
    max-height: 95vh;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  
    padding: 25px;
    background-color: $base-white;
  
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: auto;
  
    @media screen and(min-width:480px) {
      padding-left: 30px;
      padding-right: 30px;
    }
    @media screen and(min-width:768px) {
      width: 500px;
    }
    @media screen and(min-width:1280px) {
      width: 680px;
    }
  }
  
  .about-modal__title.section-subtitle {
    color: $red-text;
  
    font-size: 24px;
  
    @media screen and(min-width:480px) {
      font-size: 30px;
    }
  
    @media screen and(min-width:768px) {
      font-size: 36px;
    }
    @media screen and(min-width:1280px) {
      font-size: 56px;
    }
  }
  .about-modal__text {
    text-align: center;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.58;
    color: $grey-text;
    margin-bottom: 15px;
    @media screen and(min-width:480px) {
      font-size: 16px;
    }
    @media screen and(min-width:1280px) {
      font-size: 18px;
    }
  }
  .about-modal__btn-thumb {
    position: absolute;
    top: 5%;
    right: 5%;
    // display: flex;
    // align-items: center;
    // justify-content: center;
    // margin-left: auto;
    // margin-bottom: 5px;
  
    // width: 30px;
    // height: 30px;
    // border-color: transparent;
    // border-radius: 50%;
    // background-color: $base-white;
    // transition: background-color 250ms linear;
  
    // &:hover,
    // &:focus {
    //   background-color: $red-text;
    // }
  }
  
  // .about-modal__icon-close {
  //   fill: $red-text;
  //   transition: fill 250ms linear;
  
  //   .about-modal__btn-thumb:hover &,
  //   .about-modal__btn-thumb:focus & {
  //     fill: $base-white;
  //   }
  // }