.modal__button {
  display: flex;
  cursor: pointer;
  width: 209px;
  height: 44px;
  border-radius: 22px;
  background-color: $base-white;
  border: 0;
  font-weight: 700;
  color: $red-text;
  font-size: 1rem;
  line-height: 1.3em;
  gap: 15.77px;
  align-items: center;
  justify-content: center;

  &__button--vector {
    stroke: 2px;
  }

  &__button--text {
    display: block;
    width: 90.7px;
  }
}

.modal__button--vector:hover,
.modal__button--vector:focus {
  fill: $red-text;
}

.modal__button:hover,
.modal__button:focus {
  color: $red-dark-icon;
  background-color: $grey-bg-button;
}

.heroheader__button--products {
  cursor: pointer;
  width: 62.4px;
  height: 24px;
  border-radius: 20px;
  background-color: $red-text;
  border: 0;
  color: $base-white;
  font-family: $default-font;
  font-size: 0.5rem;
  line-height: 1.25;
}

.heroheader__button--products:hover,
.heroheader__button--products:focus {
  background-color: $red-dark-icon;
}

.heroheader__button--how {
  cursor: pointer;
  width: 82.8px;
  height: 24px;
  border-radius: 20px;
  background-color: $base-white;
  border: 0;
  color: $red-text;
  font-size: 0.5rem;
  line-height: 1.25;
}

.heroheader__button--how:hover,
.heroheader__button--how:focus {
  background-color: $grey-bg-button;
}

.products__button {
  cursor: pointer;
  width: 40px;
  height: 40px;
  font-weight: 400;
  border-radius: 50%;
  background-color: $base-white;
  border: 0;
  color: $red-text;
  font-size: 8px;
  line-height: 1.3em;
}

.about__button {
  display: flex;
  cursor: pointer;
  width: 176px;
  height: 44px;
  border-radius: 22px;
  background-color: $base-white;
  border: 0;
  font-weight: 700;
  color: $red-text;
  font-size: 0.88rem;
  line-height: 1.3em;
  align-items: center;
  justify-content: center;
}

.about__button--vector {
  margin-left: 13.62px;
  stroke-width: 2px;
}

.about__button:hover,
.about__button:focus {
  color: $red-text;
  background-color: $grey-bg-button;
}

.contacts__buttons {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 20px;
}

@media screen and (min-width: 767px) {
  .contacts__buttons {
    margin-top: 52px;
    display: flex;
    flex-direction: row;
    gap: 15px;
  }
}

@media screen and (min-width: 767px) {
  .contacts__button--locations {
    width: 198px;
  }

  .contacts__button--franchise {
    width: 180px;
  }
}

.contacts__button--locations {
  display: flex;
  cursor: pointer;
  width: 161.45px;
  height: 44px;
  border-radius: 22px;
  background-color: $red-icon;
  border: 0;
  font-weight: 700;
  color: $base-white;
  font-size: 1rem;
  line-height: 1.3em;
  align-items: center;
  justify-content: center;
}

.contacts__button--vector1 {
  stroke-width: 2px;
  margin-left: 8px;
}

.contacts__button--vector2 {
  stroke-width: 2px;
  margin-left: 13px;
}

.contacts__button--franchise {
  display: flex;
  cursor: pointer;
  width: 161px;
  height: 44px;
  border-radius: 22px;
  background-color: $base-white;
  border: 0;
  font-weight: 700;
  color: $red-text;
  font-size: 16px;
  line-height: 1.3em;
  align-items: center;
  justify-content: center;
}

.contacts__button--franchise:hover,
.contacts__button--franchise:focus {
  background-color: $grey-bg-button;
}

.contacts__button--locations:hover,
.contacts__button--locations:focus {
  background-color: $red-dark-icon;
}

.products__button {
  border-radius: 50%;
}
