.contacts {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0 auto;
  background-color: $pink-light-bg;
  margin-top: 197px;
  margin-bottom: -87px;


&__wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding-left: 0 auto;
  padding-right: 0 auto;
  align-items: center;
  position: relative;
  top: -84px;
}

&__card {
  display: block;
  width: 220px;
  height: 427px;
  background-color: $base-white;
  border-radius: 24px;
  padding-top: 43px;
  margin-bottom: 34px;
  box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
}

&__list {
  list-style: none;
  margin: 0;
  padding: 0;
  padding-left: 20px;
  padding-bottom: 54px;
}

&__list--category1 {
  display: flex;
  flex-direction: column;
  width: 80px;
  height: 16px;
  border-radius: 4px;
  background-color: $beige ;
  justify-content: center;
  color: $base-white;
  font-size: 0.75rem;
  text-align: center;
  letter-spacing: 0.04em;
  margin-bottom: 25px;
  font-weight: 500;
}

&__list--category2 {
  display: flex;
  flex-direction: column;
  width: 130px;
  height: 16px;
  background-color: $lime;
  color: $base-white;
  font-size: 0.75rem;
  text-align: center;
  letter-spacing: 0.04em;
  margin-bottom: 25px;
  font-weight: 500;
  justify-content: center;
}

&__list--city {
font-size: 12px;
color: $base-black;
letter-spacing: 0.04em;
line-height: 1.86;
font-weight: 500;
margin-top: 10px;
}

&__list--text {
  font-size: 0.75rem;
  color: $grey-text;
  line-height: 1.5;
  margin-bottom: 25px;
  padding-right: 21px;
  font-weight: 500;
}

&__list--line {
  width: 179px;
  height: 1px;
  background-color:$grey-icon ;
  margin-bottom: 25px;
  margin-top: 25px;
}

&__list--days {
  font-size: 0.75rem;
  font-weight: 500;
  line-height: 1.86;
}

&__list--time {
  font-size: 12px;
  font-weight: 500;
  line-height: 1.86;
  color:$pink-dark ;
  margin-bottom: 10px;
}

&__list--tel{
  font-size: 0.75rem;
  font-weight: 500;
  line-height: 1.5;
  color: $grey-text;
}

&__list--email {
  font-size: 0.75rem;
  font-weight: 500;
  line-height: 1.5;
  color: $grey-text;
  margin-bottom: 43px;
  text-decoration: none;
}

&__list--link {
  text-decoration: none;
  color: $grey-text;
}
}

@media screen and (min-width: 767px) and (max-width: 1200px) {
.contacts {
    
&__wrapper {
  display: flex;
  flex-direction: row;
  gap: 20px;
  width: 100%;
  display: flex;
  padding-left: 0 auto;
  padding-right: 0 auto;
  justify-content: center;
  position: relative;
  top: -78px;
}

&__card {
  display: block;
  width: 220px;
  height: 544px;
  padding-top: 50px;
}

&__list--category1 {
  display: flex;
  flex-direction: column;
  width: 73px;
  height: 28px;
  font-size: 1rem;
  margin-bottom: 30px;
}

&__list {
  padding-left: 34px;
}

&__list--category2 {
  width: 138px;
  height: 28px;
  font-size: 1rem;
  margin-bottom: 30px; 
}

&__list--city {
  font-size: 0.875rem;
}

&__list--text {
  font-size: 0.875rem;
  margin-bottom: 30px;
  padding-right: 44px;
}
    
&__list--line {
  width: 157px;
  margin-bottom: 30px;
  margin-top: 30px;
}
    
&__list--days {
  font-size: 0.875rem;
}
    
&__list--time {
  font-size: 0.875rem;
  margin-bottom: 16px;
}
    
&__list--tel{
  font-size: 0.875rem;
}
    
&__list--email {
  font-size: 0.875rem;
  margin-bottom: 50px;
}
}
}

@media screen and (min-width: 1200px){
.contacts {
    
&__wrapper {
  display: flex;
  flex-direction: row;
  gap: 31px;
  width: 100%;
  display: flex;
  padding-left: 0 auto;
  padding-right: 0 auto;
  justify-content: center;
  position: relative;
  top: -102px;
}

&__card {
  display: block;
  width: 330px;
  height: 572px;
  padding-top: 62px;
}

&__list--category1 {
  display: flex;
  flex-direction: column;
  width: 73px;
  height: 28px;
  font-size: 1rem;
  margin-bottom: 30px;
}

&__list {
  padding-left: 43px;
}

&__list--category2 {
  width: 138px;
  height: 28px;
  font-size: 1rem;
  margin-bottom: 32px;
}

&__list--text {
  font-size: 1rem;
  margin-bottom: 32px;
  padding-right: 43px;
}
    
&__list--line {
  width: 234px;
  margin-bottom: 32px;
  margin-top: 32px;
}
    
&__list--days {
  font-size: 1rem;
}
    
&__list--time {
  font-size: 1rem;
  margin-bottom: 15px;
}
    
&__list--tel{
  font-size: 1rem;
}
    
&__list--email {
  font-size: 1rem;
  margin-bottom: 62px;
}
}
}

.hidden {
  position: absolute;
  top: -9999px;
  left:  -9999px;
}
