$min-size: 320px;
$mobile-size: 480px;
$tablet-size: 768px;
$desktop-size: 1280px;

.header {
  &__title {
    font-family: $optional-font;
    font-weight: 400;
    font-size: 2.125rem;
    color: $red-text;
    line-height: 2.44rem;
    text-align: center;
    letter-spacing: 0.04em;
    margin: 0;
  }

  &__subtitle {
    font-family: $optional-font;
    font-weight: 400;
    font-size: 1.125rem;
    color: $pink-dark;
    line-height: 1.3125rem;
    text-align: center;
    margin: 0;
  }
}
