.modal-close-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-bottom: 5px;
  
    width: 30px;
    height: 30px;
    padding: 1px 6px;
    border-color: transparent;
    border-width: 2px;
    border-radius: 50%;
    background-color: $base-white;
    transition: background-color 250ms linear;
  
    &:hover,
    &:focus {
      background-color: $red-text;
    }
  }
  .modal-close-btn__icon {
    fill: $red-text;
    transition: fill 250ms linear;
  
    .modal-close-btn:hover &,
    .modal-close-btn:focus & {
      fill: $base-white;
    }
  }