$default-font: 'DM Sans', sans-serif;
$optional-font: 'Titan One', cursive;
$base-white: #fff;
$base-black: #000;
$beige: #f0d1a5;
$grey-text: #907e82;
$grey-light-icon: #d9d9d9;
$grey-icon: #e1e1e1;
$lime: #c2e297;
$pink-bg: #ffb8ca;
$pink-light-bg: #fff5f6;
$pink-dark: #ffa5ba;
$pink-icon: #fea5bb;
$pink-menu-bg: #e17992;
$red-dark: #d41342;
$red-text: #d41443;
$red-icon: #d31342;
$red-dark-icon: #c7133e;
$reviews-bg: #FAFAFA;
