$defaultFontStyle: 'DM Sans', sans-serif;
$optionalFontStyle: 'Titan One', cursive;
$pink: #ffb8ca;
$brandColor2: #ffa5ba;
$brandColor3: #f0d1a5;
$brandColor4: #d41342;
$brandColor5: #c2e297;
$brandColor6: #fff5f6;
$base-white: #fff;
$base-black: #000;
$colorText1: #d41443;
$colorText2: #907e82;
$iconColor1: #e1e1e1;
$iconColor2: #c7133e;
$iconColor3: #fea5bb;
$iconColor4: #d9d9d9;
$iconColor5: #d31342;
$menuBg: #e17992;
